<h1>All users</h1>

<form action="/catalog" method="GET">
    <input placeholder="Search..." class="search" name="username" value=<%= searchOptions.username ? searchOptions.username : null %>  >
    <button type="submit">Search</button>
</form>

<div class="card-wrapper">
    <% users && users.forEach((catalogUser) => { %> 
        <a href="/user/<%= catalogUser._id %> " class="card selectable">
            <img alt="avatar" class="avi avatar" src="/avis/<%= catalogUser.equippedSkin ? catalogUser.equippedSkin : 0 %>.gif">
            <h3><%= catalogUser.username %></h3>
            <p class="color-secondary small"><%= catalogUser.coins %> coins | <%= catalogUser.points %> points</p>
        </a>
        <% }) %>
</div>