<% let userToRender = userToDisplay ? userToDisplay : user %> 
<main>
    <div class="user-info">
        <img alt="avatar" class="avatar avi--big" src="/avis/<%= userToRender.equippedSkin ? userToRender.equippedSkin : 0 %>.gif">
        <h1><%= userToRender.username %></h1>
        <p class="color-secondary">Playing since <%= userToRender.joinDate.toLocaleDateString() %>, last seen <%= userToRender.lastSeen.toLocaleDateString() %></p>
    </div>
    
    <div>
        <div class="highlighted">
            <p><%= userToRender.coins %> </p>
            <p>Coins</p>
        </div>
        
        <div class="highlighted">
            <p><%= userToRender.points %> </p>
            <p>Distance</p>
        </div>
    </div>
    
    <h2>Unlocked skins</h2>
    <div class="card-wrapper">
        <% userToRender.unlockedSkins && userToRender.unlockedSkins.forEach((skinIndex) => { %> 
            <div class="avi-card">
                <img src="/avis/<%= skinIndex %>.gif" alt="avatar" class="avatar avi--big">
                
                <% if(userToRender === user && userToRender.equippedSkin === skinIndex){ %>
                    <button disabled="true">Equipped</button>
                <% } else if(userToRender === user){ %>
                    <form action="/user/avi/<%= skinIndex %>" method="POST"> 
                        <button type="submit">Equip</button>
                    </form>
                <% } %> 
            </div>
        <% }) %> 
    </div>
    
</main>