<div class="forum-header">
    <h1>Forum</h1>
    <a href="/forum/rules" class="link--styled">Forum rules</a>
</div>

<div class="sticky-container-top-forum">
<div class="posts-wrapper">
    <form action="/forum" method="POST">
        <div class="inline-input-container">
            <label for="title" hidden>Title</label>
            <input type="text" name="title" id="title" placeholder="Post title" class="input--big">
        <button type="submit">Post</button>
    </div>
        <div>
            <label for="content" hidden>Content</label>
            <textarea required name="content" id="content" placeholder="Enter your post here"></textarea>
        </div>
    </form>
</div>
</div>

<div class="posts-wrapper">
    <% posts.forEach((post) => { %> 
        <div class="post">
            <span class="color-secondary">Posted by <strong><a href="/user/<%= post.author %>"><%= post.authorUsername %></a></strong></span>
            <span class="color-secondary small post-date"><%= post.date.toLocaleString() %></span>
            <% if(post.title !== "") { %>
                <h4><div class="title-format"><%= post.title %></div></h4>
            <% } else {%>
                <h4>No title</h4>
            <% }%>
            <div class="content-format"><%= post.content %></div>
        </div>
    <% }) %>         
</div>
