<div class="sticky-container-top">
    <h1>Top 10</h1>
</div>
    <div class="card-wrapper gradient">
    <div class="ranking-section">
        <h3>Coins</h3>
        <% let i = 0 %>
        <% topCoins.forEach((user) => { %> 
            <%  i = i + 1 %>
            <div class="post card--small">
                <h4>
                    <% if(i === 1){ %>
                        <i class="fa-solid fa-trophy icon--gold"></i>
                    <% } else { %>
                        <strong class="color-secondary"><%= i %>. </strong>
                    <% } %>
                    <img alt="avatar" class="avatar avi" src="/avis/<%= user.equippedSkin ? user.equippedSkin : 0 %>.gif">
                    <a href="/user/<%= user.username %>"><%= user.username %></a>
                </h4>
                <div class="right">
                    <i class="fa-solid fa-coins icon--gold--left icon--gold"></i>
                    <strong class="color-secondary"><%= user.coins %></strong>
                </div>
            </div>
        <% }) %>         
    </div>
    <div class="ranking-section">
        <h3>Points</h3>
        <% i = 0 %>
        <% topPoints.forEach((user) => { %> 
            <%  i = i + 1 %>
            <div class="post card--small">
                <h4>
                    <% if(i === 1){ %>
                        <i class="fa-solid fa-trophy icon--gold"></i>
                    <% } else { %>
                        <strong class="color-secondary"><%= i %>. </strong>
                    <% } %>
                    <img alt="avatar" class="avatar avi" src="/avis/<%= user.equippedSkin ? user.equippedSkin : 0 %>.gif">
                    <a href="/user/<%= user.username %>"><%= user.username %></a>
                </h4>
                <div class="right">
                    <strong class="color-secondary"><%= user.points %></strong>
                    <strong> points</strong>
                </div>
            </div>
        <% }) %>       
    </div>
</div>

